a:link{
    background-color:#F0F0FA;
    color: #000000;
}
a:visited{
    background-color:#F5F0FA;
    color: #000000;
}
a:hover{
    background-color:#F0FAF0;
    color: #000000;
}
a:active{
    background-color:#FAF0F0;
    color: #000000;
}
